useDynLib(robustrank)

export(mod.wmw.test, pair.wmw.test, sim.partially.matched, r2sample)


importFrom("stats", "ecdf", "pchisq", "pnorm", "var")
importFrom("utils", "combn")
importFrom("stats", "cov", "dnorm", "rbinom", "rgamma", "rmultinom", "rnorm", "runif", "uniroot")

importFrom("pracma", "simpadpt")
